name: Test
on:
  pull_request:
  push:
    branches:
      - main

env:
  GO_VERSION: "1.24.x"

  concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Build
        run: make build

  lint:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        # Do not run tests in parallel to avoid rate limiting issues with the
        # Teamwork API.
        run: go test -p 1 ./...
        env:
          TWAI_TEAMWORK_SERVER: https://tw-test-eu.rafael.net.br
          TWAI_TEAMWORK_API_TOKEN: ${{ secrets.TWAI_TEAMWORK_API_TOKEN }}
